article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

html, body {
  font-size: 12px; }

body {
  font-family: 'Roboto', sans-serif;
  background: #4DBCE9;
  color: white;
  position: relative; }

.howToShow {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5rem;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  .howToShow:hover {
    color: black; }

.container {
  max-width: 960px;
  text-align: center;
  margin: 0 auto; }
  .container h1 {
    font-size: 2em;
    font-weight: 400;
    text-shadow: 1px 1px #E5E5E5; }
  .container h3 {
    font-size: 2rem; }
  .container a, .container p {
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none; }
  .container p {
    margin: 15px 0; }
  .container a {
    color: black;
    -webkit-transition: 0.3s;
            transition: 0.3s; }
    .container a:hover {
      color: white; }

.stylesNav {
  background-color: transparent;
  color: white;
  background-image: url("Images/ddown.svg");
  background-repeat: no-repeat;
  background-size: 2.5rem 2rem;
  background-position: right center;
  font-size: 2rem;
  display: block;
  margin: 20px auto;
  font-weight: 300;
  border: 1px solid white;
  width: 150px;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px; }
  .stylesNav:focus {
    outline: none; }

.formContainer {
  margin: 60px auto; }

.sexyform {
  display: inline-block;
  width: 45%;
  margin: 0 1.25%; }

.howTo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  text-align: left;
  padding: 20px;
  color: white;
  display: none; }
  .howTo .howToWrapper {
    display: inline;
    float: left;
    width: 64.5833333333%;
    margin: 0 1.0416666667%;
    margin-left: 17.7083333333%; }
  .howTo h2 {
    font-size: 2.5rem;
    margin: 0;
    margin-top: 50px;
    text-decoration: underline; }
    .howTo h2:first-child {
      margin-top: 0; }
  .howTo p {
    font-size: 1.8rem; }
  .howTo pre {
    font-size: 2rem;
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    display: inline-block; }
  .howTo .exit {
    float: right;
    font-size: 5rem;
    cursor: pointer; }
    .howTo .exit:hover {
      color: #4DBCE9; }

@media (max-width: 960px) {
  .input {
    display: block;
    margin: 50px auto;
    width: 60%; } }
